<!-- main container -->
<div class="main-container col1-layout">
	<div class="container">
		<div class="row">

			<!-- Home Tabs  -->
			<div class="col-sm-8 col-md-9 col-xs-12">
				<div class="home-tab" data-ng-init="getShopDeals();">
					<ul class="nav home-nav-tabs home-product-tabs">
						<li class="active">
							<a href="" data-ng-click="goToShop();">Top Shop Deals</a>
						</li>
					</ul>
					<div id="productTabContent" class="tab-content">
						<div class="tab-pane active in" id="featured">
							<div class="featured-pro">
								<div class="slider-items-products">
									<div id="featured-slider" class="product-flexslider hidden-buttons">
										<wrap-owlcarousel class="slider-items slider-width-col4" data-options="{items: 3,itemsDesktop: [1024, 3],itemsDesktopSmall: [900, 2]};">
											<div class="product-item" owl-carousel-item="" data-ng-repeat="topShopDeal in topShopDeals">
												<div class="item-inner">
													<div class="product-thumbnail">
														<div class="icon-sale-label sale-left" data-ng-if="topShopDeal.dealCategory == 'hotDeals'">Hot</div>
														<!-- <div class="icon-hot-label hot-right">Hot</div>
														<!-- <div class="icon-new-label new-right">New</div> -->
														<div class="pr-img-area">
															<a title="" href="">
																<figure>
																	<img class="first-img" data-ng-src="{{topShopDeal.images[0]}}">
																	<img class="hover-img" data-ng-src="{{topShopDeal.images[1]}}">
																	<img class="hover-img" data-ng-src="{{topShopDeal.images[2]}}">
																</figure>
															</a>
															<button type="button" class="add-to-cart-mt" data-ng-click="addToCart(topShopDeal)">
																<i class="fa fa-shopping-cart"></i>
																<span> Add to Cart</span>
															</button>
														</div>
														<div class="pr-info-area">
															<div class="pr-button">
																<div class="mt-button add_to_wishlist">
																	<a href="">
																	<i class="fa fa-heart"></i></a>
																</div>
																<!-- <div class="mt-button add_to_compare">
																	<a href=""><i class="fa fa-signal"></i></a>
																</div> -->
																<div class="mt-button quick-view" data-ng-click="openQuickView(topShopDeal);">
																	<a href=""><i class="fa fa-search"></i></a>
																</div>
															</div>
														</div>
													</div>
													<div class="item-info">
														<div class="info-inner">
															<div class="item-title">
																<a title="" href="">{{topShopDeal.productName}}</a>
															</div>
															<div class="item-content">
																<div class="rating">
																	<i class="fa fa-star"></i>
																	<i class="fa fa-star"></i>
																	<i class="fa fa-star"></i>
																	<i class="fa fa-star"></i>
																	<i class="fa fa-star-o"></i>
																</div>
																<div class="item-price">
																	<div class="price-box">
																		<span class="regular-price">
																			<span class="price">&#8377; {{topShopDeal.discPrice}}</span>
																		</span>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</wrap-owlcarousel>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--Hot deal -->
			<div class="col-md-3 col-sm-4 col-xs-12 hot-products">
				<div class="hot-deal" data-ng-init="getHotdeals();">
					<span class="title-text">Hot deal</span>
					<ul class="products-grid">
						<li class="item">
							<div class="product-item">
								<div class="item-inner">
									<div class="product-thumbnail">
										<div class="icon-hot-label hot-right">Hot</div>
										<div class="pr-img-area">
											<a title="" href="">
												<figure>
													<img class="first-img" data-ng-src="{{hotestDeal.images[0]}}" alt="">
													<img class="hover-img" data-ng-src="{{hotestDeal.images[1]}}" alt="">
												</figure>
											</a>
											<button type="button" class="add-to-cart-mt" data-ng-click="addToCartHotestDeal(hotestDeal)">
												<i class="fa fa-shopping-cart"></i><span> Add to Cart</span>
											</button>
										</div>
										<div class="jtv-box-timer">
											<div class="countbox_1 jtv-timer-grid"></div>
										</div>
										<div class="pr-info-area">
											<div class="pr-button">
												<div class="mt-button add_to_wishlist">
													<a href="">
														<i class="fa fa-heart"></i>
													</a>
												</div>
												<div class="mt-button quick-view" data-ng-click="openQuickView(hotestDeal);">
													<a href="">
														<i class="fa fa-search"></i>
													</a>
												</div>
											</div>
										</div>
									</div>
									<div class="item-info">
										<div class="info-inner">
											<div class="item-title">
												<a title="" href="">{{hotestDeal.productName}}</a>
											</div>
											<div class="item-content">
												<div class="rating">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star-o"></i>
													<i class="fa fa-star-o"></i>
													<i class="fa fa-star-o"></i>
												</div>
												<div class="item-price">
													<div class="price-box">
														<span class="regular-price">
															<span class="price">&#8377; {{hotestDeal.discPrice}}</span>
														</span>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end main container -->

<!-- top banner -->
<div class="banner-static">
	<div class="container">
		<div class="row">
			<div class="col-sm-4 col-sms-12">
				<div class="banner-box banner-box2">
					<a href=""><img src="http://htmlmystore.justthemevalley.com/organic/version2/images/blog-img1.jpg" alt=""></a>
					<div class="box-hover">
						<div class="banner-title">Casual Summer</div>
						<span>Save up to 55% off</span>
					</div>
				</div>
			</div>
			<div class="col-sm-4 col-sms-12">
				<div class="banner-box banner-box1">
					<a href=""><img src="http://htmlmystore.justthemevalley.com/organic/version2/images/blog-img2.jpg" alt=""></a>
					<div class="box-hover">
						<div class="banner-title">Party Wear</div>
						<span>Save up to 45% off</span>
					</div>
				</div>
			</div>
			<div class="col-sm-4 col-sms-12">
				<div class="banner-box banner-box3">
					<a href=""><img src="http://htmlmystore.justthemevalley.com/organic/version2/images/blog-img3.jpg" alt=""></a>
					<div class="box-hover">
						<div class="banner-title">Rainy Season</div>
						<span>Welcome to store!</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!--special-products-->
<div class="container">
	<div class="special-products" data-ng-init="getSpecialList();">
		<div class="page-header">
			<h2>Special Sale</h2>
		</div>
		<div class="special-products-pro">
			<div class="slider-items-products">
				<div id="special-products-slider" class="product-flexslider hidden-buttons">
					<wrap-owlcarousel class="slider-items slider-width-col4" data-options="{items: 4,itemsDesktop: [1024, 4],itemsDesktopSmall: [900, 3]}">
						<div class="product-item" owl-carousel-item="" data-ng-repeat="specialProduct in specialProducts">
							<div class="item-inner">
								<div class="product-thumbnail">
									<!-- <div class="icon-sale-label sale-left">Sale</div>
									<div class="icon-new-label new-right">New</div> -->
									<div class="pr-img-area">
										<a>
											<figure>
												<img class="first-img" data-ng-src="{{specialProduct.images[0]}}" alt="">
												<img class="hover-img" data-ng-src="{{specialProduct.images[1]}}" alt="">
											</figure>
										</a>
										<button type="button" class="add-to-cart-mt" data-ng-click="addToCartHotestDeal(specialProduct)">
											<i class="fa fa-shopping-cart"></i><span> Add to Cart</span>
										</button>
									</div>
									<div class="pr-info-area">
										<div class="pr-button">
											<div class="mt-button add_to_wishlist">
												<a href="">
													<i class="fa fa-heart"></i>
												</a>
											</div>
											<div class="mt-button quick-view" data-ng-click="openQuickView(specialProduct);">
												<a href="">
													<i class="fa fa-search"></i>
												</a>
											</div>
										</div>
									</div>
								</div>
								<div class="item-info">
									<div class="info-inner">
										<div class="item-title">
											<a title="" href="">{{specialProduct.productName}}</a>
										</div>
										<div class="item-content">
											<div class="rating">
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star-o"></i>
												<i class="fa fa-star-o"></i>
												<i class="fa fa-star-o"></i>
											</div>
											<div class="item-price">
												<div class="price-box">
													<span class="regular-price">
														<span class="price">&#8377; {{specialProduct.discPrice}}</span>
													</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</wrap-owlcarousel>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="top-banner">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<div class="jtv-banner1">
					<a href=""><img src="./assets/images/sub2.jpg" alt=""></a>
					<div class="hover_content">
						<div class="hover_data">
							<div class="title">Season sale</div>
							<div class="desc-text">offer</div>
							<div class="shop-now">
								<a href="#">Shop now</a>
							</div>
						</div>
					</div>
				</div>
				<div class="jtv-banner2">
					<a href=""><img src="./assets/images/sub3.jpg" alt=""></a>
					<div class="hover_content">
						<div class="hover_data">
							<div class="title">Best Quality</div>
							<div class="desc-text">Vegetables Delicious fruit</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="jtv-banner3">
					<div class="jtv-banner3-inner">
						<a href=""><img src="./assets/images/sub1.jpg" alt=""></a>
						<div class="hover_content">
							<div class="hover_data">
								<div class="title">Fresh Fruit</div>
								<div class="desc-text">Delivered to your door</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>