<nav data-ng-init="refreshMenuList();">
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-sm-4">
				<div class="mm-toggle-wrap">
					<div class="mm-toggle">
						<i class="fa fa-align-justify"></i>
					</div>
					<span class="mm-label">Categories</span>
				</div>
				<div class="mega-container visible-lg visible-md visible-sm">
					<div class="navleft-container">
						<div class="mega-menu-title">
							<h3>Shop by category</h3>
						</div>
						<div class="mega-menu-category">
							<ul class="nav">
								<li class="nav-menu" data-ng-repeat="category in menuList" submenu-hover>
									<a data-ng-click="goToCategoryByMenu(category);">{{category.categoryName}}</a>
									<div class="wrap-popup" data-ng-if="category.subcategory.length >= 1">
										<div class="popup">
											<div class="row">
												<ul class="nav">
													<li class="nav-sub-menu" data-ng-repeat="subcategory in category.subcategory">
														<a href="" data-ng-click="goToSubcategoryByMenu(category, subcategory);">
															<span>{{subcategory.subcategoryName}}</span>
														</a>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-9 col-sm-8">
				<div class="mtmegamenu">
					<ul>
						<li class="mt-root demo_custom_link_cms">
							<div class="mt-root-item">
								<a ui-sref="home">
									<div class="title title_font">
										<span class="title-text">Home</span>
									</div>
								</a>
							</div>
						</li>
						<li class="mt-root">
							<div class="mt-root-item">
								<a ui-sref="hotdeals">
									<div class="title title_font">
										<span class="title-text">Deals</span>
									</div>
								</a>
							</div>
						</li>
						<li class="mt-root">
							<div class="mt-root-item">
								<a ui-sref="trackOrder">
									<div class="title title_font">
										<span class="title-text">Track Your Order</span>
									</div>
								</a>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</nav>